/*
Created by Shivraj Rajendra Keshaowar on 15-11-2017.
All the contents are used for practice purpose only.And all the respective owners hold their own copyrights for the contents.
*/

/***********************************************************Reset css***********************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Customized CSS starts from here */


/* body */
body {
	/*width: 1020px;
	margin: 0 auto;*/
	font: 13px/11px arial;
	background-color: #f1f1f1;
	/*background-color: red;*/
}


/* Myriad Pro font-face*/
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* wrapper */
.wrapper {
	width: 1020px;
	margin: 0 auto;
}

/* clear */
.clear {
	clear: both;
}

/* header */
header {
	background: url(../images/background--header.jpg) no-repeat;
	background-size: cover;
	padding: 25px 0 25px 40px;
	border-bottom: 1px solid #e3e3e3;
}

/* logo */
.logo {
	float: left;
} 

.logo h1 {
	font-family: 'Myriad Pro';
	font-size: 34px;
	color: #505050;
	padding-top: 10px;       /*This was not in the design.*/
}

/* nav */
nav {

}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	display: inline-block;
	float: left;
	padding: 11px 18px;
	margin-right: 18px;
	border: 1px solid #f5f5f5;
	border-radius: 6px;
}

nav ul li a {
	color: #6c6c6c;
	text-decoration: none;
}

nav ul li:hover {
	border: 1px solid #dedede;
}

nav ul li.active {
	border: 1px solid #dedede;     /* I haven't used 'a' after active...because if I use it then it is looking bad. */
}

/* banner */
.banner {
	border-top: 1px solid #ececec;
	/*border: 1px solid red;*/
	position: relative;
	color: #111;
}

.banner img {
	width: 1020px;
}

.banner h2 {
	z-index: 1;
	position: absolute;
	font-family: 'Myriad Pro';
	font-size: 45px;
	top: 120px;
	left: 166px;
}

.banner p {
	z-index: 1;
	position: absolute;
	font-family: 'Myriad Pro';
	font-size: 45px;
	top: 235px;
	left: 161px;
}

.banner p a {
	text-decoration: none; 
	color: #111;
}

/* container */
.container {
	border-top: 1px solid #fff;
	/*margin-top: 0px;     this didn't removed the space between those two lines.  */
	padding: 23px 39px 20px 40px;
	/*margin-bottom: 20px;*/
}

.container p {
	float: left;
	font: 22px/24px 'Myriad Pro';
	/*padding-top: 32px;*/

}
    /*Here there is contradiction in padding of 'p' and 'a', so I took 23px as top padding and gave it to the parent 
    i.e. container and it looks exactly like the design. Also,I took bottom-padding w.r.t. the portfolio button. */

.container a {
	float: right;
	/*padding-top: 23px;*/  
}

/* grid */
.grid {
	width: 960px;
	margin: 0 0 0 40px;
}

.gridin {
	width: 299px;
	float: left;
	margin-right: 20px;
	padding-bottom: 98px;
}

.gridin img {
	border: 1px solid #c4c4c4;
	margin-bottom: 15px;
}

.gridin h3 {
	font-family: 'Myriad Pro';
	font-size: 24px;
	margin-bottom: 23px;
}

.gridin p {
	line-height: 21px;
}

.no-margin {
	margin-right: 0;
}

/* footer */
footer{
	background: url(../images/footer-background.jpg) no-repeat;
	/*background: url(../images/footy-bg.jpg) no-repeat;*/
	/*background-color: #000;*/
	background-size: cover;
	height: 263px;
	padding: 0 40px 64px 40px;
}

.footer-grid {

}

.footer-gridin {
	float: left;
	width: 296px;
	/*width: 230px;*/
	margin-right: 20px; 
	/*height: 263px;*/
}

.footer-gridin h3 {
	font-family: 'Myriad Pro';
	font-size: 20px;
	color: #f1f1f1;
	margin-top: 34px;
	padding-bottom: 12px;
	/*border-bottom: 1px solid #161616;*/
	background-image: url(../images/double_border.jpg);
    background-position: 0px 28px;
    background-repeat-y: no-repeat;
    /* background-repeat-x: no-repeat; */ /*used this to check position*/
}

#nofootermargin {
	margin-right: 0;
}

.footer-gridin {
	font: 13px/18px arial;
}

.footer-gridin ul {
	list-style: none;
}

.footer-gridin ul li {
	background-image: url(../images/double_border.jpg);
    background-position: 0px 41px;
    background-repeat-y: no-repeat;
	padding: 13px 0 12px 0;
}

.footer-gridin ul li a {
	text-decoration: none;
	color: #d7d7d7;
}

.footer-gridin ul li:last-child {
	border-bottom: none;
}

.footer-gridin p {
	font: 12px/22px arial;
	color: #d7d7d7;
	border-top: 1px solid #353535;
	padding-top: 12px;
}










